*{
    padding: 0;
    margin: 2;
    box-sizing: border-box;
}

body{
    background-color: rgb(1, 2, 14);
}

nav li {
    display: inline;
    margin: 0 ;
    color: #747171;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    
}


.logo{
    animation: animalogo 10s infinite ease-in-out;
}

@keyframes animalogo {

    0% {
        
        
        stroke-dasharray: 300;
        
       }
      
      80%{
          
          
          
      } 
      90%{
          stroke-dasharray: 25;
      }
      100% {
          
        stroke-dasharray: 202;
        
      }
    }

.menu{

    transition: 0.7s ease-in-out;
    margin: 0 7%;
    font-family: 'Raleway', sans-serif;
    align-items: center;
    justify-content: center;
    
}

.menu:hover{
    color: #ffffff;
    border-bottom: 1px ridge rgb(224, 224, 224);
}