* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'Barlow Condensed', sans-serif;
  color: #F8F9FA;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.link {
  padding: 16px 16px;
  font-size: 18px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  position: relative;
}

.link::after {
  content: '';
  display: block;
  position: absolute;
  top: 80%;
  left: 0;
  width: 0%;
  height: 1px;
  -webkit-transform: translate(20%, -50%);
          transform: translate(20%, -50%);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-color: #00818A;
}

.link:hover {
  opacity: .5;
}

.link:hover::after {
  width: 70%;
}

h1 {
  font-size: 96px;
  line-height: 100%;
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
}

h2 {
  font-size: 72px;
  line-height: 130%;
}

h3 {
  font-size: 40px;
  line-height: 120%;
}

h4 {
  font-size: 32px;
  line-height: 125%;
}

h5 {
  font-size: 24px;
  line-height: 135%;
}

h6 {
  font-size: 18px;
  line-height: 150%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.mask {
  background: -webkit-gradient(linear, left top, right top, from(#07BBC7), to(#62DEE6));
  background: linear-gradient(90deg, #07BBC7 0%, #62DEE6 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.square {
  display: inline-block;
  margin-top: 64px;
  font-size: 24px;
  padding: 16px 24px;
  position: relative;
}

.square::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 120px;
  height: 120px;
  -webkit-transform: translate(-6%, -22%) rotate(45deg);
          transform: translate(-6%, -22%) rotate(45deg);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 129, 138, 0.18)), to(rgba(0, 192, 205, 0.4)));
  background: linear-gradient(90deg, rgba(0, 129, 138, 0.18) 0%, rgba(0, 192, 205, 0.4) 100%);
  border-radius: 5px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

.square:hover::after {
  -webkit-transform: translate(-6%, -22%) rotate(60deg);
          transform: translate(-6%, -22%) rotate(60deg);
  background: -webkit-gradient(linear, left top, right top, from(rgba(27, 184, 196, 0.411)), to(rgba(13, 202, 216, 0.4)));
  background: linear-gradient(90deg, rgba(27, 184, 196, 0.411) 0%, rgba(13, 202, 216, 0.4) 100%);
}

body {
  width: 100%;
  background-color: #0A0A0B;
}

.menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 48px 16px;
}

@media screen and (max-width: 960px) {
  .menu-left {
    display: none;
  }
  .menu-right {
    display: none;
  }
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 24px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.hero {
  height: 90vh;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.container-item:nth-child(1) {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  margin: 40px 0px;
}

.container-item:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-item:nth-child(2) img {
  max-width: 400px;
}
/*# sourceMappingURL=style.css.map */