

$black-normal: #212429;
$black-dark: #0A0A0B;
$black-light: #495057;


$white-normal: #F8F9FA;
$white-dark: #DDE2E5;
$white-light: #ffffff;

$blue-normal: #07BBC7;
$blue-dark: #00818A;
$blue-light: #62DEE6;

